body {
    background: url("../img/bg_blur3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    overflow-x: hidden;
}

/* MENU */
#menu {
    display: block;
    font-size: 50px;
    height: 75px;
}

.menuImg {
    width: 75px;
    height: auto;
    padding: 10px;
}

.menu_item {
    display: inline;
}

/* MENU */

/* HOME */
.logo {
    /*height: 500px;*/
    overflow: hidden;
}

.welcomeImage {
    display: block;
    margin: 0 auto;
    padding-top: 5%;
    max-width: 400px;
    height: auto;
}

/* HOME */

/* INPUT */
.custom-select {
    max-width: 15%;
}

/* INPUT */

/* SUMMONER */
.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    border-bottom: 2px solid rgb(204, 174, 112);
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid rgb(204, 174, 112);
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    /*background: rgba(255,255,255,0.4);*/
    color: rgb(204, 174, 112);
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
    background: rgba(69, 177, 232, 0.4);
    border-color: rgb(204, 174, 112);
    color: rgb(204, 174, 112);
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.sumInfo {
    margin: auto;
    width: max-content;
    padding: 10px;
    margin-bottom: 10px;
    color: gold;
}

.sumImg {
    height: 100px;
    width: 100px;
}

.sumName {
    font-size: 34px;
    font-weight: 500;
}


/* SUMMONER */